<div class="container min-vh-100">

  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Bookings</h3>
          </div>

          <div class="d-flex flex-row align-items-center ms-auto m-3">
            <label for="form-label">Filter</label>
              <input type="text" [(ngModel)]="searchText" placeholder="Search by id, date, payment status, booking status" class="form-control mx-2" (input)="applySearch()">
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="cursor-pointer" (click)="sortTable('pid')">
                    Id 
                    <span *ngIf="sortProperty == 'pid'">
                      <i class="ms-1 fas {{sortOrder == 'asc' ? 'fa-arrow-down' : 'fa-arrow-up'}} text-primary"></i>
                    </span>
                  </th>
                  <th scope="col" class="cursor-pointer" (click)="sortTable('paymentDate')">
                    Date
                    <span *ngIf="sortProperty == 'paymentDate'">
                      <i class="ms-1 fas {{sortOrder == 'asc' ? 'fa-arrow-down' : 'fa-arrow-up'}} text-primary"></i>
                    </span>
                  </th>
                  <th scope="col" class="cursor-pointer" >
                    Payment Method
                  </th>
                  <th scope="col" class="cursor-pointer" (click)="sortTable('razorPaymentId')">
                    Payment Id
                    <span *ngIf="sortProperty == 'razorPaymentId'">
                      <i class="ms-1 fas {{sortOrder == 'asc' ? 'fa-arrow-down' : 'fa-arrow-up'}} text-primary"></i>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="paymentDtoList">

                <tr *ngFor="let payment of filteredPayments; let i = index;">
                <!-- <tr *ngFor="let booking of getPaginatedBookings() | usersfilter:searchText ; let i = index;"> -->
                  <td>
                    <a [routerLink]="['/payment', payment.pid]">{{ payment.pid.split("-")[0] }}</a>
                  </td>
                  <td>
                    {{payment.paymentDate}}
                  </td>
                  <td>
                    {{payment.paymentMethod}}
                  </td>
                  <td>
                    {{payment.razorPaymentId ? payment.razorPaymentId : 'NIL'}}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0" >
               
                <li class="page-item" [class.disabled]="!hasPreviousPage()">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="goToPreviousPage()">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
               
                <li class="page-item {{currentPage == page && 'active'}}" *ngFor="let page of getTotalPages() ; let i = index;">
                  <a class="page-link" href="javascript:void(0)" (click)="onPageChange(page)">
                    {{ page }}
                  </a>
                </li>

                <li class="page-item" [class.disabled]="!hasNextPage()">
                  <a class="page-link" href="javascript:void(0)" (click)="goToNextPage()">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>

              </ul>

            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>