<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <div class="text-nowrap logo-img text-center d-block py-3 w-100" style="user-select: none;">
        <h2 class="text-primary">MediCare 💙</h2>
      </div>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  routerLinkActive="active" [routerLink]="['/dashboard']" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <hr />
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/therapists']" aria-expanded="false">
            <span>
              <i class="ti ti-health-recognition"></i>
            </span>
            <span class="hide-menu">Therapists</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/users']" aria-expanded="false">
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Users</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/categories']" aria-expanded="false">
            <span>
              <i class="ti ti-list"></i>
            </span>
            <span class="hide-menu">Categories</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/reviews']" aria-expanded="false">
            <span>
              <i class="ti ti-message"></i>
            </span>
            <span class="hide-menu">Reviews</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/bookings']" aria-expanded="false">
            <span>
              <i class="ti ti-book"></i>
            </span>
            <span class="hide-menu">Bookings</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/payments']" aria-expanded="false">
            <span>
              <i class="ti ti-cards"></i>
            </span>
            <span class="hide-menu">Payments</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLinkActive="active" [routerLink]="['/admin-profile']" aria-expanded="false">
            <span>
              <i class="ti ti-settings"></i>
            </span>
            <span class="hide-menu">Profile</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <hr />
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link cursor-pointer" (click)="logout()" aria-expanded="false">
            <span>
              <i class="ti ti-logout"></i>
            </span>
            <span class="hide-menu">Logout</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
            <span>
              <i class="ti ti-user-plus"></i>
            </span>
            <span class="hide-menu">Register</span>
          </a>
        </li> -->
        
      </ul>

    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->